body {
   text-align: center;
   user-select: none;}

.row {
   border-bottom: 1px solid grey;}
.res {
   display: inline-block;
   color: white;
   width: 40px;
   cursor: pointer}
.res-zero   {
   cursor: none;
   opacity: 0.5;}
.res-black {
   background: black;}
.res-blue {
	background: darkblue;}
.res-white {
	background: ghostwhite;
   color: dimgrey !important;}
.res-red {
	background: darkred;}
.res-green {
	background: darkgreen;}
.res-uni {
  background: orange}

.user-facility {
   width: 40px;
   color: white;
   padding: 2px;
   display: inline-block;
}

.facility   {
   float: none;
   display: inline-block;}
.card {
	float: left;
	width: 100px;
	height: 60px;
   border: 1px solid grey; 
	color: white;
   cursor: pointer;}
   
.card-deck {
   width: 50px;
   text-align: center;
   color: black;
}
.card-banner   {
   height: 35%;}
.res-small  {
   display: inline-block;
   width:   20px;}